*{
    text-align: left;
}

.fa
{
    border-radius:10px;
    background:white !important;
}

.icons
{

    background: rgb(239,242,196) !important;
    color: #2c497e !important;
}



.none ul
{
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
}


.link:hover 
{
    color:wheat;
}

